.pageContent {
  position: relative;
  overflow-y: scroll;
  grid-area: pageContent;
  overflow-x: hidden;
}

.cardSymbols {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  font-size: x-large;
  padding-bottom: 50px;
  color: white;
}

.pageContent img {
  width: 20%;
  position: absolute;
  bottom: 50px;
  right: 50px;
}

@media (min-width: 768px) {
  .pageContent {
    grid-area: pageContent;
  }
}

@media (max-width: 700px) {
  .pageContent img {
    display: none;
  }
}