.deck {
  height: 20vh;
  border-right: #ffffff solid 1px;
  border-bottom: #ffffff solid 1px;
  background-color: #372e57a2;
}

.deckListView img {
  height: 80%;
  margin: 16px;
}

.deckListView {
  height: 20vh;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100vw;
  white-space: nowrap;
}

.deckListView h3 {
  margin: 16px;
  color: white;
}

@media (min-width: 768px) {

  .deck {
    height: 100vh;
    border-bottom: none;
  }

  .deckListView {
    overflow-y: scroll;
    width: unset;
    height: 100vh;
    white-space: unset;
  }
  .deckListView > img {
    height: unset;
    width: 33.3%;
    max-width: 150px;
    display: inline-block;
    margin: 16px 33.3%;
    cursor: pointer;
  }
}